%h4 Home
= form_tag root_path, data: { turbo_frame: 'book-list', turbo_action: :advance }, method: :get do
  .row
    .col.s6
      .input-field
        = text_field_tag :search
        %label{ for: :search } Search key
    .col.s3
      .input-field
        = select_tag :sort, options_for_select(['asc', 'desc'])
        %label Sort
    .col.s3
      .input-field= button_tag 'Search', class: 'btn grey black-text lighten-4'
= turbo_frame_tag 'book-list' do
  .row
    - @books.each do |book|
      = render 'books/book_card', book: book
  = paginate_links @books
  = page_entries_info @books
- if user_signed_in?
  .fixed-action-btn
    = link_to(new_book_path, class: 'btn-floating btn-large waves-effect waves-light red', 
              data: { turbo_frame: :modal }) do
      %i.material-icons add
