= turbo_frame_tag :modal do
  .modal.modal-fixed-footer{ data: { controller: :modal, action: 'turbo:submit-end->modal#submitEnd' } }
    = form_for(@book, class: 'col s12') do |form|
      .modal-content
        = render('layouts/flash')
        %h4= modal_title
        = input_text form, :title
        = input_text form, :author
        = input_text form, :description
        = input_file form, :picture
      .modal-footer.my-5
        .btn-flat.modal-close.waves-effect.waves-green Cancel
        = form.submit 'Save', class: 'waves-effect waves-light btn modal-close'
